<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Pizza Editor:</h3>
  </div>
  <div class="panel-body">
    <form #pizzaForm="ngForm" (ngSubmit)="pizzaEditOnSubmit(pizza)" *ngIf="pizza">
      <div class="form-group" [ngClass]="pizzaForm.valid && (!nameConflict || !pizza.signature) ? 'has-success': 'has-error'">
        <label>Enter Name:</label><label>{{nameConflict}}</label>
        <input type="text" [(ngModel)]="pizza.name"  (keyup)="checkNameConflicts($event)" class="form-control" id="name"
               required autocomplete="off"
               name="name">
        <span class="help-block small" *ngIf="!pizzaForm.valid">Enter a name for your new pizza. You cannot leave this blank.</span>
        <span class="help-block small" *ngIf="nameConflict &&  pizza.signature">There is already a Signature pizza with this name.</span>
      </div>
      <div class="form-group">
        <div>
          <div class="form-group row">
            <div class="form-check" *ngFor="let topping of availableToppings">
              <label class="form-check-label col-form-label col-sm-5">
                <input (change)="modifyToppingString($event)" name="topping"
                       *ngIf="pizza.toppings.indexOf(topping) == -1"
                       class="form-check-input" type="checkbox" value={{topping}}>
                <input (change)="modifyToppingString($event)" name="topping"
                       *ngIf="pizza.toppings.indexOf(topping) > -1"
                       checked class="form-check-input" type="checkbox" value={{topping}}>
                {{topping}}
              </label>
            </div>

          </div>
          <div class="input-group">
            <span class="input-group-addon" id="topping-string">Current Toppings:</span>
            <input type="text" class="form-control" name="toppingString" [(ngModel)]=toppingString
                   value={{toppingString}} readonly required>
          </div>
        </div>
      </div>
        <div class="panel-footer">
          <button type="submit" (click)="pizzaEditOnSubmit(pizza)" [disabled]="!pizzaForm.valid || (nameConflict && pizza.signature)" class="btn btn-success">Submit</button>
          <button type="submit" (click)="pizzaEditOnCancel()" class="btn btn-danger">Cancel</button>
          <label style="float: right">{{pizza.price}}</label>
          <label id="price-label" style="float: right">Price: </label>
      </div>
    </form>
  </div>
</div>
